@media (max-width: 375px) {
    img {
        display: none;
    }
}


@media (max-width: 1024px) {
    .nope{
        display: none;
    }
    .sidenav {
        height: 100%;
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #111; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px;
    }
    .sidenav a{
        font-size: 25px;
    }
}


@media (max-width: 414px) {
    .Updated {
        width: 200px;
        height: 100px;
    }
}


@media (max-width: 411px) {
    .sidenav a{
        font-size: 25px;
    }
}